.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_block{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
display: flex;
justify-content: center;
}
