.container {
    width: 500px;
    height: 250px;
    margin: 50px;
    outline: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_block{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
display: flex;
justify-content: center;
}